.active {
  background-color: #000;
  color: #fff;
}

.btn {
  background-color: #1a8918;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 1em;
  margin-top: 2em;
}

button[disabled] {
  background-color: #aaa;
}